<nav id="bs-navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li>
            <a href="@Url.Action("Index", "Home")">Home</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "JoinConfigs")">JoinConfigs</a>
        </li>
        <li>
            <a href="@Url.Action("Tree", "VueDemo")">Tree</a>
        </li>
        <li>
            <a href="@Url.Action("TreePartial", "VueDemo")">TreePartial</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Delayed")">Delayed</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "AngularLayout")">Angular</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "VueLayout")">Vue</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "VueLayout2")">Vue2 Index</a>
        </li>
        <li>
            <a href="@Url.Action("TemplateInline", "VueLayout2")">Vue2 TemplateInline</a>
        </li>
        <li>
            <a href="@Url.Action("TemplateJs", "VueLayout2")">Vue2 TemplateJs</a>
        </li>
        <li>
            <a href="@Url.Action("TemplatePartial", "VueLayout2")">Vue2 TemplatePartial</a>
        </li>
    </ul>
</nav>